<div class='panel-heading'>
    Vehicle Details
</div>
<div class='panel-body'>
    <form>
        <h2>{{property}} &nbsp;&nbsp;
            <i class="fa fa-automobile" style="font-size:24px"></i>
        </h2>

        <div class="form-group row ">
            <div class="col-xs-12 col-md-6">
                <label class="col-sm-3 col-form-label">Name</label>
                <input type="text" name="nametext" class="uui-form-element" />
            </div>
            <div class="col-xs-6 col-md-4"></div>
        </div>

        <div class=" form-group row">
            <div class="col-xs-12 col-md-6">
                <label class="col-sm-3 col-form-label">Employee Id</label>
                <input type="text" name="employeetext" class="uui-form-element" />
            </div>
            <div class="col-xs-12 col-md-6"></div>
            <div class="col-xs-12 col-md-6">
                <label class="col-sm-3 col-form-label">Allocated</label>
                <label name="Allocatedtext"></label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-12 col-md-6">
                <label class="col-sm-3 col-form-label">Mobile No</label>
                <input type="tel" name="mobiletext" class="uui-form-element" />
                <button>
                    <i class="fa fa-phone" style="font-size:24px"></i>
                </button>

            </div>
            <div class="col-xs-6 col-md-6"></div>
            <div class="col-xs-12 col-md-6">
                <label class="col-sm-3 col-form-label">Requested</label>
                <label name="Allocatedtext"></label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-12 col-md-6">
                <label class="col-sm-3 col-form-label">Session</label>

            </div>
            <div class="col-xs-6 col-md-6"></div>
            <div class="col-xs-6 col-md-4"></div>
        </div>
    </form>

</div>