<div class='panel-heading'>
        <h2>Slot  Employee Information</h2>
    </div>
    <div class='panel-body'>
<table class="uui-table stripe no-border">
  <thead>
      <tr>
          <th>Slot #</th>
          <th>Class</th>
          <th>Employee Id</th>
          <th>Name</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>1</td>
          <td>Reserved</td>
          <td>538087</td>
          <td>Bhuvan</td>        
          <td><button class="uui-button lime-green">Manage</button></td>
      </tr>   
      <tr>
        <td>2</td>
        <td>Reserved</td>
        <td>538088</td>
        <td>Ram</td>        
        <td><button class="uui-button lime-green">Manage</button></td>
    </tr>     
  </tbody>
</table>
</div>