




        <h2>{{property}} &nbsp;&nbsp; <i class="fa fa-automobile" style="font-size:24px"></i></h2>
      
        <div class="form-group row ">
            <div class="col-xs-12 col-md-6">
              <label class="col-sm-3 col-form-label">Specific Date</label>
              <div class="col-xs-6 col-md-4 ui-g-12 ui-md-4"><p-calendar [(ngModel)]="value"  [showIcon]="true"></p-calendar></div>
            </div>
           
            <div class="col-xs-6 col-md-4"></div>
          </div>
      
          <div class=" form-group row">
          <div class="col-xs-12 col-md-6">
              <label class="col-sm-3 col-form-label">Date Range</label>
              <div class="col-xs-6 col-md-4 ui-g-12 ui-md-4">
          
                <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"  [showIcon]="true"></p-calendar></div> 
          </div>
          
          <div class="col-xs-6 col-md-4">
          </div>
        </div>
      
        <div class="form-group row">
            <div class="col-xs-12 col-md-6">
                    <p class="uui-checkbox large">
                            <input type="checkbox" id="a2" />
                            <label for="a2">Release to Pool</label>
                        </p>
            </div>

            <div class="col-xs-6 col-md-4">
            </div>
            <div class="col-xs-6 col-md-4">
               
              </div>
          </div>
      
          <div class="form-group row">
              <div class="col-xs-12 col-md-4">
                    <p class="uui-checkbox large col-form-label">
                            <input type="checkbox" id="a3" />
                            <label for="a3">To my Buddy :</label>
                        </p>
                        
                
              </div>
              <div class="col-xs-6 col-md-4">
                    <label class="col-sm-3 col-form-label">Employee ID <input type="text" name="Empid" class="uui-form-element" /></label>    
                </div>
                
              <div class="col-xs-6 col-md-4"></div>
            </div>
            <div class="form-group row">
                    <div class="col-xs-12 col-md-4">
                            <button class="uui-button blue left-icon">
                                    <i class="fa fa-save"></i>Save
                                </button>
                    </div>
                    <div class="col-xs-6 col-md-4"></div>
                    <div class="col-xs-6 col-md-4"></div>
                  </div>
            
         
      
      
      
        
        
        