<table class="uui-table stripe no-border">
  <thead>
      <tr>
          <th>Slots</th>
          <th>Total</th>
          <th>Occupied</th>
          <th>Available</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Dedicated</td>
          <td>200</td>
          <td>10</td>
          <td>190</td>
          <td>
              <button class="uui-button transparent solid-hover ">View </button>
          </td>
      </tr>
      <tr>
          <td>Floaters</td>
          <td>200</td>
          <td>10</td>
          <td>190</td>
          <td>
              <button class="uui-button transparent solid-hover ">View </button>
          </td>
      </tr>
      <tr>
          <td>VIP</td>
          <td>200</td>
          <td>10</td>
          <td>190</td>
          <td>
              <button class="uui-button transparent solid-hover ">View </button>
          </td>
      </tr>
      <tr>
          <td>Guest</td>
          <td>200</td>
          <td>10</td>
          <td>190</td>
          <td>
              <button class="uui-button transparent solid-hover ">View </button>
          </td>
      </tr>
      <tr>
          <td>Cab</td>
          <td>200</td>
          <td>10</td>
          <td>190</td>
          <td>
              <button class="uui-button transparent solid-hover ">View </button>
          </td>
      </tr>
  </tbody>
</table>