<form>
  <h2>{{property}} &nbsp; &nbsp; <i class="material-icons"></i></h2>
  <div class="container-fluid">
      <div class="row content">
  <div class="col-sm-5">
    <div>
      <label class=" col-sm-3 col-form-label">Make</label>
        <input type="text" name="makeText" class="uui-form-element" />
      </div>
      <br/>
      <div>
          <label class=" col-sm-3 col-form-label">Model</label>
            <input type="text" name="modelText" class="uui-form-element" />
          </div>
          <br/>
          <div>
              <label class=" col-sm-3 col-form-label">Color</label>
                <input type="text" name="colorText" class="uui-form-element" />
              </div>
              <br/>
              <div>
                  <label class=" col-sm-3 col-form-label">Vehicle</label>
                    <input type="text" name="vehicleText" class="uui-form-element" />
                  </div>
                  <br/>
                  <div>
                      <label class=" col-sm-3 col-form-label">Valid till</label>
                        <input type="text" name="validText" class="uui-form-element" />
                      </div>
                      <br/>
                  <div>
                      <input type="checkbox" name="" id="a1" />
                      <label for="a1">Check for Update.</label>
                      </div>
    </div>

    <div class="col-sm-7">
<div class="content">
    <div class="circle">
        <i class="fa fa-automobile" style="font-size:24px; text-align:top;"></i> &nbsp;
      Hello I am A Circle</div>

</div>
        
    </div>
  </div>
  </div>
  </form>



